:root {
  --primary-title-color: #ffffff;
  --backgound-color-base: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #757575;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --icon-color: #afb1b8;
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ---------- Сброс некоторых стилей ---------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  /* width: 1600px; */
}

/* ---------- Container and base style---------- */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.link {
  text-decoration: none;
  transition: color 300ms linear, background-color 300ms linear;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* --------- Иконки соцсетей ----------------- */

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backgound-color-base);
  transition: background-color 300ms ease-in-out fill 300ms ease;
}

.social-link-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-title-color);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: var(--icon-color);
  border: 1px;
}

.social-icon-footer {
  fill: #ffffff;
}

.social-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

/* ---------- Header ---------- */

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-item {
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-contact {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contacts-link:not(:last-child) {
  margin-right: 40px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  transition: color 300ms linear;
  /* position: relative; */
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.currentLink {
  color: var(--accent-color);
}

.header-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.header-contacts-link:hover .header-icon,
.header-contacts-link:focus .header-icon {
  fill: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: 0;
}

/* ----------Header Logo ---------- */

.header-logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  transition: color 300ms linear, background-color 300ms linear;
}

.header-logo:hover,
.header-logo:focus {
  color: #000000;
}

.header-logo-text {
  color: var(--header-text-color);
  transition: color 300ms linear, background-color 300ms linear;
}

.header-logo:hover .header-logo-text,
.header-logo:focus .header-logo-text {
  color: var(--accent-color);
}

/* ---------- Hero Section ---------- */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(..//images/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero-title {
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

/* ---------- Button ---------- */

.btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  /* max-width: 200px; */
  /* height: 50px; */
  cursor: pointer;
  transition: color 300ms linear, background-color 300ms linear,
    box-shadow 300ms linear;
}

.header-btn {
  margin: 0 auto;
  color: #ffffff;
}

.header-btn:hover,
.header-btn:focus {
  color: var(--accent-color);
  background: var(--backgound-color-base);
}

/* ---------- Feature Section ---------- */
.feature {
  align-items: center;
  padding-bottom: 47px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-title-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.feature-title-item {
  width: 270px;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.feature-title-text {
  padding-top: 10px;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.feature-icon-block {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: block;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon {
  display: block;
}

/* ---------- Our Technology ---------- */

.our-technology {
  /* padding-bottom: 94px; */
  padding-top: 47px;
}

.our-technology-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.our-technology-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  /* margin-top: -30px; */
}

.our-technology-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  /* margin-top: 30px; */
}

/* ---------- Our Commands ---------- */

.our-commands {
  width: auto;
  background-color: #f5f4fa;
}

.our-commands-title,
.our-technology-title,
.regular-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  color: var(--secondary-title-color);
}

.commands-border {
  background-color: var(--backgound-color-base);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.our-commands-list {
  display: flex;
  flex-wrap: wrap;
}

.our-commands-item {
  margin: 0 auto;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.our-comands-bottom {
  padding-bottom: 30px;
}

.our-commands-name {
  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.our-commands-workspace {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--third-text-color);
  margin-bottom: 16px;
}

/*  ----------- Постоянные клиенты --------------        */

.regular-clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
}

.regular-clients-item {
  width: 170px;
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.regular-clients-link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backgound-color-base);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 1300ms ease-in-out;
}

.regular-clients-link:hover,
.regular-clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.regular-clients-icon {
  fill: var(--icon-color);
  transition: fill 300ms ease-in-out;
}

/* ---------- Footer ---------- */

.footer {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #2f303a;
  width: auto;
}

.adress-ident {
  padding-bottom: 8px;
}

.footer-list {
  padding-top: 20px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--primary-title-color);
}

.footer-logo-text {
  color: #ffffff;
  transition: color 300ms linear;
}

.footer-logo:hover .footer-logo-text,
.footer-logo:focus .footer-logo-text {
  color: var(--accent-color);
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.adress:hover,
.adress:focus {
  color: var(--accent-color);
}

.footer-contacts-wrap {
  display: flex;
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

.footer-contact-title,
.subscribe-title {
  margin-bottom: 20px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
}

.contacts {
  margin-right: 70px;
}

.footer-social-section {
  display: flex;
  margin-right: 93px;
}

.subscribe-form {
  width: 570px;
  height: 86px;
}

.subscribe-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  /* display: flex; */
}

.subscribe-input:focus {
  border-color: red;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
}

.subscribe-form input::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  margin: 0;
  color: #ffffff;
}

/*  --------- End of Footer  -------------- */

/* ---------- Portfolio ---------- */

.header-border {
  border-bottom: 1px solid #ececec;
}

.btn-port {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #f5f4fa;
  border: none;
  cursor: pointer;
  transition: color 300ms linear, background-color 300ms linear,
    box-shadow 300ms linear;
}

.btn-port:hover {
  color: var(--accent-color);
  box-shadow: var(--box-shadow);
}

.portfolio-btn {
  color: #000000;
  display: flex;
  height: 38px;
  margin-left: 8px;
  border-radius: 4px;
  padding: 6px 22px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background: var(--accent-color);
}

/* .portfolio-btn-item {
} */

.portfolio-btn-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.our-projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.our-projects-item {
  display: block;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  margin-bottom: 30px;
  transition: box-shadow 300ms linear;
}

.our-projects-item:hover,
.our-projects-item:focus {
  box-shadow: var(--box-shadow);
  transform: translateY(0);
}

.our-projects-item:hover .projects-top-text,
.our-projects-item:focus .projects-top-text {
  box-shadow: var(--box-shadow);
  transform: translateY(0);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ---------- Portfolio Our Projects---------- */

.our-projects-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-top-text {
  font-size: 16px;
  color: var(--primary-title-color);
  line-height: 1.5;
  padding: 20px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.our-projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  padding-bottom: 4px;
}

.our-projects-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--third-text-color);
}

.cards-border {
  padding: 20px 24px;
  width: 370px;
  height: 110px;
  flex-wrap: wrap;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-top: 0;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2) rotate(1440deg);
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transform: scale(1) rotate(0);
  transition: transform 300ms ease;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:hover,
.close-btn:focus {
  fill: #2196f3;
}

.modal-title {
  display: block;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
  justify-content: center;
}

/*  От репеты */

textarea {
  resize: none;
}

.form {
  width: 448px;
  outline: 1px solid tomato;
}

.form-field {
}

.form-field label {
  display: block;
  padding-bottom: 4px;
  margin-top: 10px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: red;
}
/* 
.form-field:focus {
  border-color: #2196f3;
  color: #2196f3;
} */

.form-field input::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  width: 100%;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.comment {
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

/* .label {
  display: block;
  margin-bottom: 25px;
} */

.form-field policy {
  display: block;
  position: relative;
  padding-left: 36px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox {
  position: absolute;
  top: 79%;
  left: -38%;
  transform: translateY(21%);
}

.btn-form .btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  justify-content: center;
}
