/* ---------- Footer ---------- */
.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 150px;
  background-color: #2f303a;

  @media screen and (min-width: 768px) {
    padding-bottom: 180px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.adress-ident {
  padding-bottom: 8px;
}

.footer-list {
  padding-top: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    padding-top: 20px;
    text-align: left;
  }
}

.footer-logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  &:hover,
  &:focus {
    color: var(--primary-title-color);
  }
  &-text {
    color: #ffffff;
    transition: color 300ms linear;
  }
  &:hover &-text,
  &:focus &-text {
    color: var(--accent-color);
  }
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contacts-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // outline: 1px solid blue;

  @media screen and (mxn-width: 480px) {
    flex-basis: calc(100% / 3);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2);
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contact-title {
  display: block;
  margin-bottom: 20px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  @media (min-width: 768px) {
    padding-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-social-section {
  // display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 350px;

  @media (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (min-width: 768px) {
    // margin-right: 93px;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    // width: 365px;
    width: calc(100% / 2 - 30px);
  }

  @media (min-width: 1200px) {
    margin-right: 93px;
    // padding-top: 0px;
    // padding-bottom: 0px;
    width: auto;
  }
}
