/* ---------- Footer ---------- */

.footer {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #2f303a;
  width: auto;
}

.adress-ident {
  padding-bottom: 8px;
}

.footer-list {
  padding-top: 20px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--primary-title-color);
}

.footer-logo-text {
  color: #ffffff;
  transition: color 300ms linear;
}

.footer-logo:hover .footer-logo-text,
.footer-logo:focus .footer-logo-text {
  color: var(--accent-color);
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.adress:hover,
.adress:focus {
  color: var(--accent-color);
}

.footer-contacts-wrap {
  display: flex;
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

.footer-contact-title,
.subscribe-title {
  margin-bottom: 20px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-section {
  display: flex;
  margin-right: 93px;
}
