.our-projects {
  // width: 1200px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    // justify-content: center;
  }

  // &-list:not(:only-child):last-of-type {
  //   justify-content: center;
  // }

  &-wrapper {
    position: relative;
    overflow: hidden;
    background-size: cover;

    @media screen and (min-width: 480px) {
      // outline: 3px solid rgb(94, 255, 0);
      width: auto;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }

  &-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    padding-bottom: 4px;
  }

  &-description {
    font-size: 16px;
    line-height: 1.87;
    color: var(--third-text-color);
  }

  &-item {
    display: block;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
    // margin-bottom: 30px;
    transition: box-shadow 300ms linear;
    z-index: 1;
  }

  // &:hover,
  // &:focus {
  //   box-shadow: var(--box-shadow);
  //   transform: translateY(0);
  // }
}

.our-projects-wrapper:hover,
.our-projects-wrapper:focus {
  box-shadow: var(--box-shadow);
  transform: translateY(0);
}

.cardsholder {
  margin-top: 15px;
  // outline: 2px solid green;

  @media screen and (min-width: 768px) {
    object-fit: cover;
  }
}

.cards-border {
  padding: 20px 24px;
  height: 110px;
  flex-wrap: wrap;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-top: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  @media screen and (max-width: 768px) {
    width: 450px;
    height: 146px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.projects-top-text {
  font-size: 16px;
  color: var(--primary-title-color);
  line-height: 1.5;
  padding: 20px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.our-projects-item:hover .projects-top-text,
.our-projects-item:focus .projects-top-text {
  box-shadow: var(--box-shadow);
  transform: translateY(0);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}