.our-comm-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  justify-content: center;
}

.our-commands-item {
  //   border: 1px solid red;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #fff;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.our-commands {
  background-color: #f5f4fa;
}

// .cardholder {
//   //   margin-bottom: 15px;
//   border: 1px solid red;
//   @media screen and (min-width: 480px) {
//     width: 450px;
//     background-color: teal;
//     // margin-bottom: 15px;
//   }
//   @media screen and (min-width: 768px) {
//     width: 270px;
//     background-color: aqua;
//     // margin-right: 20px;
//   }
//   @media screen and (min-width: 1200px) {
//     width: 270px;
//     background-color: burlywood;
//   }
// }

// .our-commands {
//   @media screen and (min-width: 768px) {
//     // background-color: #f5f4fa;
//   }
// }

.our-commands-title,
.our-technology-title,
.regular-clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
  color: var(--secondary-title-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.commands-border {
  background-color: var(--backgound-color-base);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.our-commands-bottom {
  padding-bottom: 24px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.our-commands-name {
  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.our-commands-workspace {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--third-text-color);
  margin-bottom: 16px;
}
