.our-technology {
  padding-top: 47px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  &__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.our-technology-wrapper {
  position: relative;
  overflow: hidden;
  background-size: cover;
}

.technology-text {
  padding: 27px;
  width: 100%;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}
