.subscribe-form {
  width: 570px;
  height: 100px;
}

.subscribe-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-input {
  padding: 10px;
  margin-right: 25px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  display: flex;
  outline: none;
  transition: border-color 300ms linear;
  color: #ffffff;
}

.subscribe-input:hover,
.subscribe-input:focus {
  border-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-form input::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  width: 200px;
  color: #ffffff;
  display: block;
  position: relative;
  height: 50px;
  width: 187px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 16px;
  margin-right: 0;
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  /* color: var(--accent-color); */
  fill: var(--accent-color);
  /* background: var(--backgound-color-base); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
}

.subscribe-icon {
  position: absolute;
  right: 28px;
}

.subscribe-form-wrapper {
  position: relative;
  display: flex;
}

.check-border {
  display: flex;
  align-items: center;
  justify-content: center;
}
