.backdrop {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;

  &.is-hidden {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
  }
  &.is-hidden .modal {
    transform: scale(2) rotate(1440deg);
  }
}
