/* ----------Header Logo ---------- */

.header-logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  transition: color 300ms linear, background-color 300ms linear;
  &:hover,
  &:focus {
    color: #000000;
  }
  padding-bottom: 25px;
  padding-top: 24px;
}

.header-logo-text {
  color: var(--header-text-color);
  transition: color 300ms linear, background-color 300ms linear;
  .header-logo:hover &,
  .header-logo:focus & {
    color: var(--accent-color);
  }
}
