.menu-open-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: auto;
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 40px;
  height: 40px;
  // border-radius: 50%;
  background-color: #ffffff;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.mob-menu {
  // width: 100%;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #ffffff;
  position: absolute;
  padding: 48px 40px;
  display: flex;
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-link {
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--header-text-color);

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
  }
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// .backdrop.is-hidden .menu {
//   transform: scale(2) rotate(1440deg);
// }

.mob-menu-item {
  margin-bottom: 32px;
}

.mob-menu-bottom {
  margin-bottom: 64px;
}

.mob-menu-socials {
  margin-left: 0;
}

.menu-contacts-link {
  display: block;
  margin-bottom: 64px;
}

.tel-color {
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;
  display: block;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.mob-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu-bottom {
  display: block;
}

.mail-color {
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
  @media screen and (max-width: 480px) {
  }
}

.mob-menu-list {
  // margin-bottom: 100%;
  // // display: flex;
  // // flex-direction: column;
  // justify-content: space-between;
}

.menu-social-list {
  display: flex;
}

.menu-social-link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-right: 20px;
  color: var(--accent-color);
  position: relative;
}

// .menu-social-link::after (:not:last-child) {
//   content: "";
//   width: 22px;
//   height: 2px;
//   display: block;
//   background-color: royalblue;
//   // transform: rotate(90deg);
// }

.menu-social-line::after {
  content: "|";
  position: absolute;
  width: 1px;
  color: rgba(33, 33, 33, 0.2);
  height: 22px;
  top: 0%;
  right: -10%;
}

// .backdrop {

// }

.mob-menu {
  // position: fixed;
  // // width: 100vw;
  // height: 100vh;
  // width: 100vw;
  // background-color: rgba(0, 0, 0, 0.2);
  // top: 0;
  // overflow-y: scroll;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;

  &.is-hidden {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
  }
  &.is-hidden .menu {
    transform: scale(2) rotate(1440deg);
  }
}
