.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    fill: #2196f3;
  }
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  color: #212121;
  display: block;
  text-align: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: calc(23 / 20);
  }
}

.form {
  margin: 40px;
}

.form-field {
  & input,
  textarea {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 10px 20px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 3px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #afb1b8;
    outline: none;
    @media screen and (min-width: 1200px) {
      width: 448px;
    }
  }
}

.form-field input {
  &:focus {
    border-color: var(--accent-color);
    color: #212121;
  }
  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus + .input-icon {
    fill: var(--accent-color);
  }
  & .checkbox-mailing {
    margin-bottom: 50px;
    display: block;
  }
}

.form-field textarea {
  height: 120px;
  margin-bottom: 20px;
  padding-left: 16px;
  resize: none;
  &::placeholder {
    width: 100%;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
    color: #212121;
  }
}

.form-field label {
  display: block;
  padding-bottom: 4px;
  margin-top: 10px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wrapper {
  display: block;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  &:focus {
    fill: var(--accent-color);
  }
}

textarea {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  padding-right: 20px;
  border-radius: 3px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #afb1b8;
  outline: none;
}

.text-mailing {
  margin-bottom: 30px;
  padding-left: 34px;
  font-size: 14px;
  line-height: 1.71px;
  color: #757575;
  display: flex;
  span {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 2px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.checkbox-mailing {
  display: block;
  position: relative;
}

.modal-checkbox:checked + .text-mailing span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-checkbox:hover + .text-mailing span,
.modal-checkbox:focus + .text-mailing span {
  border-color: var(--accent-color);
}

.check-border {
  position: absolute;
  left: 13px;
  top: 32%;
  transform: translateY(-50%);
}

.check-icon {
  position: absolute;
  transform: translateY(0);
  right: 0;
}

.rules-link {
  color: var(--accent-color);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  &:hover,
  &:focus {
    color: var(--accent-color);
    background: var(--backgound-color-base);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
  }
}
