.modal {
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transform: scale(1) rotate(0);
  transition: transform 300ms ease;
  /* padding: 40px; */
  /* width: 528px; */
}
