/* ---------- Base style---------- */

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  transition: color 300ms linear, background-color 300ms linear;
}

.list {
  list-style: none;
}