.btn-port {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #f5f4fa;
  border: none;
  cursor: pointer;
  transition: color 300ms linear, background-color 300ms linear,
    box-shadow 300ms linear;
  &:hover &:focus {
    color: var(--accent-color);
    box-shadow: var(--box-shadow);
  }
}
.portfolio-btn {
  color: #000000;
  display: flex;
  height: 38px;
  margin-left: 8px;
  border-radius: 4px;
  padding: 6px 22px;
  &:hover,
  &:focus {
    color: #ffffff;
    background: var(--accent-color);
  }
}

.portfolio-btn-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
